body {
	background-color: #c7f376
}

h1 {
    font-family: arial, helvetica, sans-serif;
    font-size: 4.0em;
    text-align: justify;
    margin-top: 15px;
}

p {
    font-family: arial, helvetica, sans-serif;
    font-size: 1.3em;
    text-align: center;
    margin-top: 5px;
}

span{
    font-family: arial, helvetica, sans-serif;
    font-size: 2.5em;
}

img {
    display: block;
    margin: auto;
}